---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TableUsers from "../components/tableUsers";
---

<Layout>
  <script>
    import { auth } from "../firebase";
    import createUser from "../utils/api/users/createUsers";

    async function insertNewUser() {
      try {
        const token = await auth.currentUser?.getIdToken(true);
        const user = {
          avatar: "https://avatars.githubusercontent.com/u/141779507?v=4",
          name: "Alejandro velez gomez",
          age: 22,
          email: "alejopsornal@gmail.com",
          gender: "M",
          username: "ALEJOS",
        };
        const response = await createUser(token, user);
        console.log(response);
      } catch (error) {
        console.log(error);
        return false;
      }
    }

  
    document.addEventListener("DOMContentLoaded", () => {
      const button = document.getElementById("button-create-user");
      button?.addEventListener("click", insertNewUser);
    });
  </script>

  <div class="w-full p-2 border border-gray-200 rounded-lg flex flex-col">
    <button
      id="button-create-user"
      class="text-lg text-gray-700 font-bold border-gray-200 rounded-lg p-2 bg-gray-200 place-items-end place-self-end cursor-pointer"
      >Nuevo usuario</button
    >
  </div>

  <TableUsers client:load />
</Layout>
