---
import DropdownCRUD from "../components/DropdownCRUD.jsx";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="">
    <nav class="w-full h-fit p-2 border-b border-gray-200 flex justify-end gap-4 items-center">
      <DropdownCRUD client:load />
      <a href="/login" class="text-gray-700 hover:text-blue-600 transition">Login</a>
      <a href="/profile" class="text-gray-700 hover:text-blue-600 transition">Profile</a>
      <a href="/logout" class="text-gray-700 hover:text-red-600 transition">Logout</a>
    </nav>

    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
